{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.campaigner.com"
    }
  ],
  "info": {
    "version": "",
    "title": "Campaigner API",
    "termsOfService": "https://www.campaigner.com/legal/terms-conditions/",
    "contact": {
      "name": "Support",
      "email": "support@campaigner.com",
      "url": "https://campaigner.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://www.campaigner.com/wp-content/uploads/2020/05/campaigner-logo.svg",
      "altText": "Campaigner"
    },
    "description": "Swagger: [/swagger](/docs/swagger)\n"
  },
  "tags": [
    {
      "name": "accounts",
      "x-displayName": "Accounts",
      "description": "View and manage accounts in Campaigner\n"
    },
    {
      "name": "auth",
      "x-displayName": "Auth",
      "description": "Campaigner authentication requires an API key which you can pass in the request header as IntegrationKey\n"
    },
    {
      "name": "contacts",
      "x-displayName": "Contacts",
      "description": "View and manage contacts in Campaigner\n"
    },
    {
      "name": "category",
      "x-displayName": "Categories",
      "description": "Manage categories in Campaigner\n"
    },
    {
      "name": "email",
      "x-displayName": "Email",
      "description": "Manage and send Email message (campaign) in Campaigner\n"
    },
    {
      "name": "export",
      "x-displayName": "Export",
      "description": "Export data from Campaigner based on a variety of criteria and formats\n"
    },
    {
      "name": "field",
      "x-displayName": "Fields",
      "description": "Manage fields in Campaigner\n"
    },
    {
      "name": "form",
      "x-displayName": "Forms",
      "description": "Manage forms in Campaigner\n"
    },
    {
      "name": "list",
      "x-displayName": "Lists",
      "description": "Manage lists in Campaigner\n"
    },
    {
      "name": "mms",
      "x-displayName": "MMS",
      "description": "Manage and send MMS messages with Campaigner.\n"
    },
    {
      "name": "sms",
      "x-displayName": "SMS",
      "description": "Manage and send SMS messages with Campaigner, you need to configure your account with a SMS profile to get started\n"
    },
    {
      "name": "workflows",
      "x-displayName": "Workflows",
      "description": "View and manage workflows in Campaigner\n"
    }
  ],
  "paths": {
    "/accounts/v1/subaccount": {
      "post": {
        "operationId": "accountsv1subaccount",
        "tags": [
          "accounts"
        ],
        "summary": "Create A New Subaccount - BETA",
        "description": "Create a new subaccount under the account. You need an existing integration key that has been configured with the necessary API sys auth token in order to create a subaccount.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/account/v1/subaccount \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -d '{\n    \"companyName\": \"GBC\",\n    \"title\": \"test title\",\n    \"firstName\": \"first\",\n    \"lastname\": \"last\",\n    \"email\": \"test2@xyz.com\",\n    \"phone\": \"6135551234\",\n    \"fax\": \"6135554321\",\n    \"timeZoneId\": 901,\n    \"userName\": \"testname2\",\n    \"password\": \"testpassword\",\n    \"securityQuestionType\": \"BIRTH_CITY\",\n    \"securityQuestionAnswer\": \"Brockville\",\n    \"url\": \"http://google.ca\",\n    \"disableGuiAccess\": false,\n    \"address\": {\n        \"line1\": \"123 here street\",\n        \"line2\": \"Apr B\",\n        \"city\": \"Anytown\",\n        \"state\": \"ON\",\n        \"zip\": \"H0EH0E\",\n        \"country\": \"Canada\"\n    },\n    \"sendPasswordByEmail\": false    \n}'"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubaccountModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response recieved from interla provisioning system",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubaccountResponse"
                }
              }
            }
          },
          "422": {
            "description": "You are not authorized to make API request for account id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response_code": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "response_message": {
                      "type": "string"
                    },
                    "response_details": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "example": {
                    "responseCode": 6,
                    "responseDetails": "You are not authorized to make API request for account id: 123456789",
                    "responseMessage": "Account is not setup for creating sub accounts."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/integration/key": {
      "post": {
        "operationId": "authv1integrationkey",
        "tags": [
          "auth"
        ],
        "summary": "Create A New Integration Key",
        "description": "Create more integration key(s) for the account. You need an existing integration key in order to create more keys.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/auth/v1/integration/key \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"description\": \"Integration key for API calls\",\n    \"isActive\": true\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationKeyCreateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key creation is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationKeysResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Description is more than 4000 characters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CharactersLimit"
                }
              }
            }
          },
          "401": {
            "description": "Integration Key supplied for the API call with any Campaigner account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Account is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InactiveAccount"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_UnknownApiError"
                }
              }
            }
          }
        }
      }
    },
    "/sms/v1/send/single": {
      "post": {
        "operationId": "smsv1sendsingle",
        "tags": [
          "sms"
        ],
        "summary": "Send a single SMS",
        "description": "Send a single SMS message to a mobile phone number. The message can be up to 4000 characters long.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/sms/v1/send/single \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"mobilePhone\": \"19998887770\",\n    \"messageContent\": \"Hey, there!\",\n    \"shortenURLs\": true,\n    \"customHeaders\": [\n      {\n        \"name\": \"custom header name\",\n        \"value\": \"custom header value\"\n      }\n    ],\n    \"includeUnsubscribeMessage\": true\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "JSON object containing the details of the SMS message to send.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSmsMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS send successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSMSMessageSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Account has SMS enabled but has not completed number set up\n- Mobile Phone field is empty or not present or is invalid or more than 15 characters long\n- Mobile Phone is out of account's sending region or globally blacklisted\n- Content is empty or not present or invalid or more than 4000 characters or contains invalid characters\n- Custom headers are invalid or name and/or value is not specified\n- There are more than 5 custom headers or character length for name and/or value exceeds 255\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have SMS enabled\n- SMS volume sending limit and/or account credit limit has reached\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sms/v1/campaign": {
      "post": {
        "operationId": "smsv1campaign",
        "tags": [
          "sms"
        ],
        "summary": "Create a SMS campaign",
        "description": "Create a SMS campaign and returns the id of the created SMS campaign.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/sms/v1/campaign \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"name\": \"SMS campaign name\",\n    \"isWorkflowCampaign\": false,\n    \"shortenURLs\": false,\n    \"trackAllLinkClicks\": false,\n    \"sendFrom\": \"sender 123\",\n    \"includeUnsubscribeMessage\": true,\n    \"contents\": {\n      \"contentSourceType\": \"Campaign or Custom\",\n      \"messageContent\": \"This is my SMS campaign.\",\n      \"campaignId\": 123\n    },\n    \"deliveryNotificationEmailAddresses\": [\n      \"email-1@example.com\",\n      \"email-2@example.com\"\n    ]\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "Create SMS campaign request body format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmsCampaignModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create SMS campaign successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSmsCampaignModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Campaign name that already exists on the requested account\n- User supplies a campaign name having invalid characters\n- User supplies a blank campaign name\n- User supplies a campaign name having more than 255 characters\n- Request has invalid value, blank value or no value specified for contentSourceType\n- If the API request has contents node specified, contentSourceType set to Custom and has no messageContent node specified\n- If the API request has contents node specified, contentSourceType set to Custom and messageContent node specified with invalid value\n- If the API request has contents node specified, contentSourceType set to Custom and messageContent node specified exceeding 4000 character limit\n- If the API request has contents node specified, contentSourceType set to Custom and messageContent node specified has invalid characters\n- If the API request has contents node specified, contentSourceType set to Custom and messageContent node specified has invalid merge fields\n- If the API request has contents node specified, contentSourceType set to Campaign and has no campaignId node specified\n- If the API request has contents node specified, contentSourceType set to Campaign and campaignId node specified with blank/null value\n- If the API request has contents node specified, contentSourceType set to Campaign and campaignId node specified with invalid value (not existing SMS campaign or not a SMS campaign or does not belong to this account)\n- If the API request has contents node specified, contentSourceType set to campaign and campaignId node specified with a valid value BUT the campaign contents contain invalid value (as per existing content checks performed on the UI)\n- If the API request has contents node specified, contentSourceType set to Campaign and campaignId node specified has valid value BUT the campaign contents have invalid merge fields\n- If the API request has contents node specified, contentSourceType set to campaign and campaignId node specified with a valid value BUT the campaign contents contain invalid characters\n- The API will validate the email addresses supplied for their format, and will respond with an error in case the email address(s) supplied are not in valid format\n- API will respond with an error in case user provides more than 5 email addresses for delivery notification\n- If the value supplied for sendFrom does not exist as a valid configured value for Sender Name for the account/API space for which this SMS campaign is being created\n- If the API has a blank/null value specified for sendFrom field\n- If the API request has contents node specified without null/blank value set for it, but has no contentSourceType node specified \n- If account is not enabled with workflows feature and API has isworkflowcampaign parameter set to true\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "examples": {
                  "Campaign name already exists": {
                    "value": {
                      "response_code": 102,
                      "response_message": "SMS Campaign 1 already exists",
                      "response_details": "Another SMS campaign with SMS Campaign 1 already exists on the account. Please specify another unique value for: name"
                    }
                  },
                  "Campaign name with invalid characters": {
                    "value": {
                      "response_code": 111,
                      "response_message": "Invalid value: ^{",
                      "response_details": "Invalid name. A name must not contain any of the following values: ^{."
                    }
                  },
                  "Campaign name blank": {
                    "value": {
                      "response_code": 108,
                      "response_message": "name value cannot be blank",
                      "response_details": ""
                    }
                  },
                  "Campaign name more than 255 characters": {
                    "value": {
                      "response_code": 104,
                      "response_message": "Field: name cannot be more than 255 characters long",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "example": {
                  "response_code": 7,
                  "response_message": "Invalid integration key",
                  "response_details": ""
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have SMS enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "examples": {
                  "SMS not enabled": {
                    "value": {
                      "response_code": 16,
                      "response_message": "Invalid request. Account is not enabled with feature: SMS",
                      "response_details": ""
                    }
                  },
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 123 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  },
                  "X-Account-Id doesn't belong to account in IntegrationKey": {
                    "value": {
                      "response_code": 6,
                      "response_message": "You are not authorized to make API request for account id: 456",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "example": {
                  "response_code": 119,
                  "response_message": "Cannot execute requested operation. Please refer to response_details for more information.",
                  "response_details": "Internal Error. Please retry."
                }
              }
            }
          }
        }
      }
    },
    "/sms/v1/campaign/{id}/recipients": {
      "put": {
        "operationId": "smsv1campaignid_recipients_put",
        "tags": [
          "sms"
        ],
        "summary": "Sets recipients to SMS campaign",
        "description": "All the contacts that are part of the the lists of recipients will be sent this SMS campaign.  The SMS campaign will be sent to all eligible contacts if sendToAllContacts is true.  The contacts that are part of the mailing lists in exclusionListIds will be exempted.\n",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the SMS campaign that you want to set the recipient to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X PUT \\\n  https://api.campaigner.com/sms/v1/campaign/12345/recipients \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"sendToAllContacts\": false,\n    \"listIds\": [\n      12345,\n      23456\n    ],\n    \"exclusionListIds\":[\n      34567\n    ]\n  }'"
          }
        ],
        "requestBody": {
          "description": "SMS campaign set recipients request body format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsCampaignSetRecipientsModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "If setting recipients to SMS campign is successful it returns No Content\n"
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- If supplied campaign doesn't belong to the account\n- If sendToAllContacts is true and listIds is also provided\n- If any mailing list id is present in both listIds and exclusionListIds\n- If any of the supplied mailing list id either in listIds or exclusionListIds doesn't belog to the account or it is static or it is not active\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "examples": {
                  "SMS Campaign is in invalid status": {
                    "value": {
                      "response_code": 126,
                      "response_message": "SMS Campaign is in Sending status and cannot be updated",
                      "response_details": "Cannot set recipients for SMS campaign."
                    }
                  },
                  "User has provided sendToAllContacts as true and listIds is also present": {
                    "value": {
                      "response_code": 50,
                      "response_message": "listIds is inappropriate.",
                      "response_details": "You can not specify listIds when sendToAllContacts is set to true"
                    }
                  },
                  "SMS Campaign id is invalid, there is no undeleted SMS campaign with the specified campaign id on the account": {
                    "value": {
                      "response_code": 109,
                      "response_message": "Invalid Id':' 12345.",
                      "response_details": "SMS Campaign Id':' 12345 does not exist on the account"
                    }
                  },
                  "Property Name Repeats within the Single Parent Object": {
                    "value": {
                      "response_code": 113,
                      "response_message": "You cannot repeat':' sendToAllContacts in the API request",
                      "response_details": ""
                    }
                  },
                  "Request is empty": {
                    "value": {
                      "response_code": 120,
                      "response_message": "Invalid request. There is nothing to update.",
                      "response_details": ""
                    }
                  },
                  "Parameter name is invalid in requst": {
                    "value": {
                      "response_code": 121,
                      "response_message": "Invalid parameter. isTest.",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "example": {
                  "response_code": 7,
                  "response_message": "Invalid integration key",
                  "response_details": ""
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have SMS enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "examples": {
                  "SMS not enabled": {
                    "value": {
                      "response_code": 16,
                      "response_message": "Invalid request. Account is not enabled with feature: SMS",
                      "response_details": ""
                    }
                  },
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 123 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  },
                  "X-Account-Id doesn't belong to account in IntegrationKey": {
                    "value": {
                      "response_code": 6,
                      "response_message": "You are not authorized to make API request for account id: 456",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse_SmsCampaign"
                },
                "example": {
                  "response_code": 119,
                  "response_message": "Cannot execute requested operation. Please refer to response_details for more information.",
                  "response_details": "Internal Error. Please retry."
                }
              }
            }
          }
        }
      }
    },
    "/export/v1/contacts/sftp": {
      "post": {
        "operationId": "exportv1contactssftp",
        "tags": [
          "export"
        ],
        "summary": "Get contacts via sFTP - v1",
        "description": "Download contact and/or campaign stats for my own account as a file from a SFTP location.  The export is performed asynchronously. The response contains a reference number that can  be used to check the status of the export.",
        "deprecated": true,
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/export/v1/contacts/sftp \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"searchCriteriaXML\": \"<contactssearchcriteria><version major='3' minor='0' build='0' revision='0' /><set>Partial</set><evaluatedefault>True</evaluatedefault><testContactsOnly>False</testContactsOnly><group><filter><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>ClickAnyLink</operator></action><operator>PastNDay</operator><value>7</value></filter><filter><relation>Or</relation><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>Open</operator></action><operator>PastNDay</operator><value>7</value></filter></group></contactssearchcriteria>\",\n    \"contactData\": {\n      \"staticFields\": [\n        \"firstName\",\n        \"lastName\",\n        \"email\",\n        \"mobilePhone\"\n      ],\n      \"systemFields\": [\n        \"emailStatus\",\n        \"smsStatus\"\n      ],\n      \"customFieldIds\": [\n        12956877,\n        49685777\n      ],\n      \"returnListMembership\": true,\n      \"returnCampaignData\": false\n    }\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "JSON object describing which contacts to export and what information to export about them.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportContactDataViaSftpV1Model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportContactDataViaSftpResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Model is missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingField"
                }
              }
            }
          },
          "401": {
            "description": "Configuration is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingConfig"
                }
              }
            }
          },
          "403": {
            "description": "Account is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ForbiddenErrorForAccountNotActive"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_UnknownApiError"
                }
              }
            }
          }
        }
      }
    },
    "/export/v2/contacts/sftp": {
      "post": {
        "operationId": "exportv2contactssftp",
        "tags": [
          "export"
        ],
        "summary": "Get contacts via sFTP - v2",
        "description": "Download contact and/or campaign stats for my own account as a file from a SFTP location.  The export is performed asynchronously. The response contains a reference number that can  be used to check the status of the export. This is an enhanced version of the /export/v1/contacts/sftp endpoint.",
        "deprecated": true,
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/export/v2/contacts/sftp \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"searchCriteriaXML\": \"<contactssearchcriteria><version major='3' minor='0' build='0' revision='0' /><set>Partial</set><evaluatedefault>True</evaluatedefault><testContactsOnly>False</testContactsOnly><group><filter><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>ClickAnyLink</operator></action><operator>PastNDay</operator><value>7</value></filter><filter><relation>Or</relation><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>Open</operator></action><operator>PastNDay</operator><value>7</value></filter></group></contactssearchcriteria>\",\n    \"contactData\": {\n      \"staticFields\": [\n        \"firstName\",\n        \"lastName\",\n        \"email\",\n        \"mobilePhone\"\n      ],\n      \"systemFields\": [\n        \"emailStatus\",\n        \"smsStatus\"\n      ],\n      \"customFieldIds\": [\n        12956877,\n        49685777\n      ],\n      \"returnListMembership\": true\n    },\n    \"campaignData\": {\n      \"deliveryStats\": true,\n      \"activityStats\": {\n        \"returnUserAgentInfo\": true,\n        \"returnDeviceType\": true,\n        \"activityEvents\": [\n          \"open\",\n          \"click\"\n        ]\n      }\n    }\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "JSON object describing which contacts to export and what information to export about them.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportContactDataViaSftpV2Model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportContactDataViaSftpResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Model is missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingField"
                }
              }
            }
          },
          "401": {
            "description": "Configuration is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingConfig"
                }
              }
            }
          },
          "403": {
            "description": "Account is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ForbiddenErrorForAccountNotActive"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_UnknownApiError"
                }
              }
            }
          }
        }
      }
    },
    "/export/v3/contacts/sftp": {
      "post": {
        "operationId": "exportv3contactssftp",
        "tags": [
          "export"
        ],
        "summary": "Get contacts via sFTP - v3",
        "description": "Download contact and/or campaign stats for my own account as a file from a SFTP location.  The export is performed asynchronously. The response contains a reference number that can  be used to check the status of the export. This is an enhanced version of the /export/v2/contacts/sftp endpoint.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/export/v3/contacts/sftp \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"searchCriteriaXML\": \"<contactssearchcriteria><version major='3' minor='0' build='0' revision='0' /><set>Partial</set><evaluatedefault>True</evaluatedefault><testContactsOnly>False</testContactsOnly><group><filter><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>ClickAnyLink</operator></action><operator>PastNDay</operator><value>7</value></filter><filter><relation>Or</relation><filtertype>EmailAction</filtertype><campaign><anycampaign /></campaign><action><status>Do</status><operator>Open</operator></action><operator>PastNDay</operator><value>7</value></filter></group></contactssearchcriteria>\",\n    \"contactData\": {\n      \"staticFields\": [\n        \"firstName\",\n        \"lastName\",\n        \"email\",\n        \"mobilePhone\"\n      ],\n      \"systemFields\": [\n        \"createdDateUTC\",\n        \"creationMethod\"\n      ],\n      \"customFieldIds\": [\n        12956877,\n        49685777\n      ],\n      \"returnListMembership\": true\n    },\n    \"campaignData\": {\n      \"deliveryStats\": true,\n      \"activityStats\": {\n        \"returnUserAgentInfo\": true,\n        \"returnDeviceType\": true,\n        \"activityEvents\": [\n          \"open\",\n          \"click\"\n        ]\n      }\n    }\n  }'\n"
          }
        ],
        "requestBody": {
          "description": "JSON object describing which contacts to export and what information to export about them.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportContactDataViaSftpV3Model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportContactDataViaSftpResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Model is missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingField"
                }
              }
            }
          },
          "401": {
            "description": "Configuration is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_MissingConfig"
                }
              }
            }
          },
          "403": {
            "description": "Account is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ForbiddenErrorForAccountNotActive"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_UnknownApiError"
                }
              }
            }
          }
        }
      }
    },
    "/lists/v1": {
      "get": {
        "operationId": "listsv1",
        "tags": [
          "list"
        ],
        "summary": "Get lists for account",
        "description": "Request to download information about all the groupings from an account, optionally filtered by their type as mailing list / static segment / dynamic segment or the category they belong.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter the groupings based on their type. if none is provided, all groupings are returned.",
            "schema": {
              "type": "string",
              "enum": [
                "MailingList",
                "StaticSegment",
                "DynamicSegment"
              ]
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Filter the returned lists to items belonging to this specific category id.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of lists to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the data to return.",
            "schema": {
              "type": "integer",
              "default": 1,
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/lists/v1?type=MailingList&categoryId=1070&pageNumber=2&pageSize=10 \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "If valid input is provided then it returns data related to list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListsByTypeIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Invalid page size\n- Invalid page number\n- Invalid category Ids requested; do not exist on account\n- Invalid value for: type. Acceptable values are: MailingList, StaticSegment, DynamicSegment\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "listsv1_post",
        "tags": [
          "list"
        ],
        "summary": "Create list with required values",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "description": "Request to create a new mailing list or static segment or dynamic segment on an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/lists/v1 \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"name\" : \"My List\",\n    \"type\" : \"MailingList\",\n    \"isTemporary\" : true,\n    \"isVisibleInForms\" : true,\n    \"searchCriteriaXML\" : \"<contactssearchcriteria><version major=\"3\" minor=\"0\" build=\"0\" revision=\"0\" /><set>Partial</set><evaluatedefault>True</evaluatedefault><testContactsOnly>True</testContactsOnly><group><filter><filtertype>SearchAttributeValue</filtertype><staticattributeid>3</staticattributeid><action><type>Text</type><operator>Containing</operator><value>gmail</value></action></filter></group></contactssearchcriteria>\",\n    \"categoryIds\" : [\n\t\t9685968,\n\t\t9854947\n\t],\n    \"description\" : \"A mailing list containing all test contacts with email containing word: Gmail\"\n}'"
          }
        ],
        "requestBody": {
          "description": "JSON object to provide values for creating a new list.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If list creation is successful it returns CreateListResult model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Grouping name that already exists on the requested account\n- User supplies a grouping name having invalid characters\n- User supplies a blank grouping name\n- User supplies a grouping name having more than 255 characters\n- User supplies a grouping description having invalid characters\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CustomFieldNotValidError"
                },
                "examples": {
                  "Grouping name already exists": {
                    "value": {
                      "response_code": 102,
                      "response_message": "List already exists",
                      "response_details": "List:  Test2 already exists in your account. Please specify  a different name"
                    }
                  },
                  "Grouping name with invalid characters": {
                    "value": {
                      "response_code": 111,
                      "response_message": "Invalid value: ^{",
                      "response_details": "Invalid name. A name must not contain any of the following values: ^{"
                    }
                  },
                  "Grouping name more than 255 characters": {
                    "value": {
                      "response_code": 104,
                      "response_message": "Field: name cannot be more than 255 characters long",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "If Integration Key supplied for the API call with any Campaigner account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have a feature enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_FeatureDisabled"
                },
                "examples": {
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 123 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  },
                  "X-Account-Id doesn't belong to account in IntegrationKey": {
                    "value": {
                      "response_code": 6,
                      "response_message": "You are not authorized to make API request for account id: 456",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/v1/{id}": {
      "get": {
        "operationId": "listsv1id_get",
        "tags": [
          "list"
        ],
        "summary": "Get list by id",
        "description": "Request to download information about list for respective id.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the list for which you are requesting information.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/lists/v1/12345 \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456'"
          }
        ],
        "responses": {
          "200": {
            "description": "If valid input is provided then it returns data related to list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListByIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n        \n- Invalid URL\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid URL": {
                    "value": {
                      "response_code": 124,
                      "response_message": "API URL cannot have spaces (URL encoded or otherwise) in it",
                      "response_details": "Please remove all spaces from your API URL"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 1234 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "If list id is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ContactNotInAccountError"
                },
                "examples": {
                  "List id is invalid": {
                    "value": {
                      "response_code": 109,
                      "response_message": "Invalid id: 12345",
                      "response_details": "List Id: 12345 does not exist on the account"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "response_code": 119,
                  "response_message": "Cannot execute requested operation. Please refer to response_details for more information.",
                  "response_details": "Internal Error. Please retry."
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "listsv1id_patch",
        "tags": [
          "list"
        ],
        "summary": "Update list with required values",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "description": "Updates a list based on the provided body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the list/segment that user wishes to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "requestBody": {
          "description": "Json object for specifying which list properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X PATCH \\\n  https://api.campaigner.com/lists/v1/12345 \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"name\" : \"My List\",\n    \"isTemporary\" : true,\n    \"isVisibleInForms\" : true,\n    \"searchCriteriaXML\" : \"<contactssearchcriteria><version major=\"3\" minor=\"0\" build=\"0\" revision=\"0\" /><set>Partial</set><evaluatedefault>True</evaluatedefault><testContactsOnly>True</testContactsOnly><group><filter><filtertype>SearchAttributeValue</filtertype><staticattributeid>3</staticattributeid><action><type>Text</type><operator>Containing</operator><value>gmail</value></action></filter></group></contactssearchcriteria>\",\n    \"categoryIds\" : [\n\t\t9685968,\n\t\t9854947\n\t],\n    \"description\" : \"A mailing list containing all test contacts with email containing word: Gmail\"\n}'"
          }
        ],
        "responses": {
          "204": {
            "description": "If List updation is successful it returns No Content\n"
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Grouping name that already exists on the requested account\n- User supplies a grouping name having invalid characters\n- User supplies a blank grouping name\n- User supplies a grouping name having more than 255 characters\n- User supplies a grouping description having invalid characters\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CustomFieldNotValidError"
                },
                "examples": {
                  "Grouping name already exists": {
                    "value": {
                      "response_code": 102,
                      "response_message": "List already exists",
                      "response_details": "List:  Test2 already exists in your account. Please specify  a different name"
                    }
                  },
                  "Grouping name with invalid characters": {
                    "value": {
                      "response_code": 111,
                      "response_message": "Invalid value: ^{",
                      "response_details": "Invalid name. A name must not contain any of the following values: ^{"
                    }
                  },
                  "Grouping name more than 255 characters": {
                    "value": {
                      "response_code": 104,
                      "response_message": "Field: name cannot be more than 255 characters long",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "If Integration Key supplied for the API call with any Campaigner account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have a feature enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_FeatureDisabled"
                },
                "examples": {
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 123 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  },
                  "X-Account-Id doesn't belong to account in IntegrationKey": {
                    "value": {
                      "response_code": 6,
                      "response_message": "You are not authorized to make API request for account id: 456",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "If list is not exists or not associated to account or not in  mailing list/static segment/dynamic segment on the requested account\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ContactNotInAccountError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fields/v1": {
      "get": {
        "operationId": "fieldsv1",
        "tags": [
          "field"
        ],
        "summary": "Get fields for account",
        "description": "Fetch information about all the fields on an account.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "includeCustomFields",
            "in": "query",
            "description": "Return Custom Field information if parameter is set to true",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of fields to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 1000
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the data to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/fields/v1?includeCustomFields=true&pageNumber=2&pageSize=10 \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "If fetching the list of fields is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldGetResponseResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Invalid page size\n- Invalid page number\n- Invalid value for: includeCustomFields\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid URL": {
                    "value": {
                      "response_code": 124,
                      "response_message": "API URL cannot have spaces (URL encoded or otherwise)  in it",
                      "response_details": "Please remove all spaces from your API URL"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 1234 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "response_code": 119,
                  "response_message": "Cannot execute requested operation. Please refer to response_details for more information.",
                  "response_details": "Internal Error. Please retry."
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "fieldsv1_post",
        "tags": [
          "field"
        ],
        "summary": "Create field with required values",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "description": "Create a new custom field on an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  https://api.campaigner.com/fields/v1 \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n    \"name\": \"Address\",\n    \"dataType\": \"Text\",\n    \"defaultValue\": \"Heaven\"\n  }'"
          }
        ],
        "requestBody": {
          "description": "A JSON Object containing name, datatype, defaultValue and allowOtherValue for creating a new custom field.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "If field creation is successful it returns FieldCreateResult model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldCreateResult"
                }
              }
            }
          },
          "400": {
            "description": "If specific field is not exists to associated account or deleted contact fields found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CustomFieldNotValidError"
                }
              }
            }
          },
          "401": {
            "description": "If Integration Key supplied for the API call with any Campaigner account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have a feature enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_FeatureDisabled"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forms/v1/signup": {
      "get": {
        "operationId": "formsv1",
        "tags": [
          "form"
        ],
        "summary": "Get Signup Form for account",
        "description": "Fetch information about all the signup forms on an account.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "description": "Return all Sign Up Forms belonging to this specific Sign Up Form category",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 123456
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return all Sign Up Forms that are in a specific status",
            "schema": {
              "type": "string",
              "enum": [
                "Complete",
                "Incomplete"
              ]
            },
            "example": "Incomplete"
          },
          {
            "name": "optInType",
            "in": "query",
            "description": "Return all Sign Up Forms that are of a specific opt-in type",
            "schema": {
              "type": "string",
              "enum": [
                "Single",
                "Double"
              ]
            },
            "example": "Double"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Return all Sign Up Forms that are of a specific language",
            "schema": {
              "type": "string",
              "enum": [
                "English",
                "Spanish",
                "French",
                "Italian",
                "Russian",
                "Turkish",
                "German",
                "Polish",
                "Croatian"
              ]
            },
            "example": "Croatian"
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Return all Sign Up Forms belonging to a specific group or collection id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 101
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of fields to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 500
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the data to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/forms/v1/signup?status=Complete&categoryId=4986897&optInType=Double&language=English$groupId=102 \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' "
          }
        ],
        "responses": {
          "200": {
            "description": "If fetching the list of signup forms is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupFormGetResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Invalid page size\n- Invalid page number\n- Invalid category Id requested; do not exist on account\n- Invalid value for: status. Acceptable values are: Complete, Incomplete\n- Invalid value for: optInType. Acceptable values are: Single, Double\n- Invalid value for: language. Acceptable values are: English, Spanish, \n    French, Italian, Russian, Turkish, German, Polish, Croatian\n\n- Invalid group Id requested; do not exist on account\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid URL": {
                    "value": {
                      "response_code": 124,
                      "response_message": "API URL cannot have spaces (URL encoded or otherwise)  in it",
                      "response_details": "Please remove all spaces from your API URL"
                    }
                  },
                  "Invalid pageSize": {
                    "value": {
                      "response_code": 8,
                      "response_message": "Invalid PageSize. PageSize cannot exceed: 500",
                      "response_details": ""
                    }
                  },
                  "Invalid pageNumber": {
                    "value": {
                      "response_code": 111,
                      "response_message": "Invalid value: Page Number.",
                      "response_details": "Page Number: 100 does not exist."
                    }
                  },
                  "Invalid status": {
                    "value": {
                      "response_code": 117,
                      "response_message": "Invalid value for: status. Acceptable values are: Incomplete, Complete",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "Account not active": {
                    "value": {
                      "response_code": 2,
                      "response_message": "Account id: 1234 is not active",
                      "response_details": ""
                    }
                  },
                  "Invalid integration key": {
                    "value": {
                      "response_code": 7,
                      "response_message": "Invalid integration key",
                      "response_details": ""
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "response_code": 119,
                  "response_message": "Cannot execute requested operation. Please refer to response_details for more information.",
                  "response_details": "Internal Error. Please retry."
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1": {
      "get": {
        "operationId": "workflowsv1",
        "tags": [
          "workflows"
        ],
        "summary": "Get Workflows",
        "description": "Get workflow information about all the workflows on an account.",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Return all workflows that are of a specific status.",
            "schema": {
              "type": "string",
              "enum": [
                "Incomplete",
                "Active",
                "Inactive",
                "Deactivated",
                "Test"
              ]
            },
            "example": "Incomplete"
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Return all workflows belonging to this specific workflow category id.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 123456
          },
          {
            "name": "triggerType",
            "in": "query",
            "description": "Return all workflows that are of a specific trigger type.",
            "schema": {
              "type": "string",
              "enum": [
                "API",
                "Time",
                "Rules"
              ]
            },
            "example": "API"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of workflows to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 3000
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the data to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/workflows/v1?pageNumber=1&pageSize=20&triggerType=Rules&categoryId=1027&status=Incomplete \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \n"
          }
        ],
        "responses": {
          "200": {
            "description": "Results of a successful search for workflows for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request due to several potential reasons:\n- Invalid page size\n- Invalid page number\n- Invalid category Id requested; do not exist on account\n- Invalid value for: status. Acceptable values are: Incomplete, Active, Inactive, Deactivated, Test\n- Invalid value for: triggerType. Acceptable values are: API, Time, Rules\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid integration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have workflows enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/v1/{id}": {
      "get": {
        "operationId": "contactsv1id_get",
        "tags": [
          "contacts"
        ],
        "summary": "Get Contact Details with required values",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "description": "Gets fields information such as system fields, static fields, custom fields, and mailing lists for a specific contact from my account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the contact to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customFieldIds",
            "in": "query",
            "description": "Comma separated list of custom field ids (or \"all\") to retrieve for contact. 'All' will take precedence over any field ids that might be specified and will return all custom fields in the API response.",
            "schema": {
              "type": "string"
            },
            "example": "123456,789012"
          },
          {
            "name": "systemFields",
            "in": "query",
            "description": "Comma separated list of system field names (or \"all\") to retrieve for contact. 'All' will take precedence over any field names that might be specified and will return all system fields in the API response.",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "createdDateUTC",
                "creationMethod",
                "lastModifiedDateUTC",
                "confirmationDateUTC",
                "optInURL",
                "optinIpAddress",
                "dateLastOpenedUTC",
                "dateLastClickedUTC",
                "dateLastSentToUTC",
                "dateLastUnsubscribedUTC",
                "dateLastConvertedUTC",
                "totalConversionValue",
                "totalConversions",
                "IPLastUnsubscribed",
                "lastBounceReason",
                "emailChangedDateUTC",
                "geoCity",
                "geoCountry",
                "geoRegion",
                "geoTimeZone",
                "geoZipCode",
                "dateLastClickedSMSUTC",
                "dateLastSentToSMSUTC",
                "dateLastUnsubscribedSMSUTC",
                "dateLastOpenedSMTPUTC",
                "dateLastClickedSMTPUTC",
                "dateLastSentToSMTPUTC"
              ]
            },
            "example": "createdDateUTC,optInURL"
          },
          {
            "name": "staticFields",
            "in": "query",
            "description": "Comma separated list of static field names (or \"all\") to retrieve for contact. 'All' will take precedence over any field names that might be specified and will return all static fields in the API response.",
            "schema": {
              "type": "string",
              "enum": [
                "All",
                "firstName",
                "lastName",
                "phone",
                "mobilePhone",
                "email",
                "fax",
                "emailMessageFormat",
                "isTestContact",
                "ownerEmail",
                "ownerFirstName",
                "ownerLastName",
                "emailStatus",
                "smsStatus"
              ]
            },
            "example": "firstname,lastname"
          },
          {
            "name": "listIds",
            "in": "query",
            "description": "Comma separated list of list membership ids (or \"all\") to retrieve for contact. 'All' will take precedence over any ids that might be specified and will return a list of mailing list Ids and static segment Ids to which this contact is currently assigned to, in the API response",
            "schema": {
              "type": "string"
            },
            "example": "098766,2994783"
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X GET \\\n  https://api.campaigner.com/contacts/v1/9876543?systemFields=All&staticFields=All&customFieldids=All&ListIds=All \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \n\n"
          }
        ],
        "responses": {
          "200": {
            "description": "If contact is exists and get with specific fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactDetailsByIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "If specific field is not exists to associated account or deleted contact fields found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CustomFieldNotValidError"
                }
              }
            }
          },
          "401": {
            "description": "If Integration Key supplied for the API call with any Campaigner account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have a feature enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_FeatureDisabled"
                }
              }
            }
          },
          "404": {
            "description": "If contact is not exists to associated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ContactNotInAccountError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "contactsv1id_patch",
        "tags": [
          "contacts"
        ],
        "summary": "Update contact with required values",
        "security": [
          {
            "IntegrationKey": []
          }
        ],
        "description": "Updates a contact based on the provided body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Campaigner-assigned id of the contact whose information is being updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/XAccountId"
          }
        ],
        "requestBody": {
          "description": "Json object for specifying which contact properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X PATCH \\\n  https://api.campaigner.com/contacts/v1/9876543 \\\n  -H 'Content-Type: application/json' \\\n  -H 'IntegrationKey: YOUR_API_KEY_HERE' \\\n  -H 'X-Account-Id: 123456' \\\n  -d '{\n  \"resubscribeContact\": false,\n  \"triggerWorkflows\": {\n    \"triggerAllWorkflows\": false,\n    \"triggerSpecificWorkflows\": [\n      1,\n      2,\n      3\n    ]\n  },\n  \"staticFields\": {\n    \"email\": \"john@doe.com\",\n    \"firstName\": \"John\",\n    \"lastname\": \"Doe\"\n  },\n  \"customFields\": [\n    {\n    \"id\": 145322,\n    \"value\": \"Custom Field Value\"\n    }\n  ],\n  \"listMemberships\": [\n    {\n    \"listId\": 12345,\n    \"listStatus\": \"Assigned\"\n    }\n  ]\n}'\n"
          }
        ],
        "responses": {
          "204": {
            "description": "If contact updation is successful it returns No Content\n"
          },
          "400": {
            "description": "If specific field is not exists to associated account or deleted contact fields found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_CustomFieldNotValidError"
                }
              }
            }
          },
          "401": {
            "description": "If Integration Key supplied for the API call with any Campaigner account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_InvalidIntegrationKey"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized due to several potential reasons:\n- Account is inactive\n- Integration key is invalid or inactive\n- Account does not have a feature enabled\n- Subaccount is inactive or is not under the master account with integration key\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_FeatureDisabled"
                }
              }
            }
          },
          "404": {
            "description": "If contact is not exists to associated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError_ContactNotInAccountError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorRateLimitExceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while processing the request",
            "content": {
              "application/json": {
[...]
